@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #808390;
    box-sizing: border-box;
    margin: 20pt;
    padding: 0;
    font-family: 'Arial', 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    line-height: 175%;
}

h1 {
    margin-top: 43pt;
    margin-bottom: 20pt;
}

h2 {
    margin-top: 38pt;
    margin-bottom: 20pt;
    padding-left: 10px;
}

h3 {
    margin-top: 35pt;
    margin-bottom: 15pt;
    padding-left: 20px;
}

h4 {
    margin-top: 32pt;
    margin-bottom: 13pt;
    padding-left: 25px;
}


.container {
    width: 840px;
    margin: auto;
    padding: 20px;
    padding-left: 40px;
    padding-right: 55px;
    background-color: #E8E8E8;
    border-radius: 30px;
    box-shadow: 0.6em 0.6em 0.8em rgba(0,0,0,0.22);
}

pre {
    font-family: 'Roboto Mono', monospace;
    margin-left: 60px;
    padding: 10px;
    padding-left: 20px;
    line-height: 160%;
    font-size: 12pt;
    background-color: #D7DAE1;
    margin-top: 0px;
    margin-bottom: 28px;
    border-radius: 3pt;
    box-shadow: 0.1em 0.1em 0.13em rgba(0,0,0,0.25);
}

code {
    font-family: 'Roboto Mono', monospace;
}

p {
    padding-left: 50px;
    margin-bottom: 1.0em;
    margin-top: 0.2em;
}

p code, li code, th code, td code {
    background-color: #D7DAE1;
    font-size: 12pt;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 5pt;
    box-shadow: 0.06em 0.06em 0.08em rgba(0,0,0,0.20);
}

ul {
    margin-left: 60px;
}

table {
    margin-left: 52px;
    margin-right: 30px;
    margin-bottom: 25px;
}

td {
    padding: 6px 14px;
    vertical-align: top;
}

th {
    text-align: left;
    padding: 6px 14px;
    text-decoration: underline;
}