* {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box; 
}

body {
    line-height: 1;
    font-size: 12pt;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: "Consolas", monospace;
    background-color: #888;
    color: #EEE;
}

#top {
    width: 100vw;
    height: 25px;
    background-color: #222;
    padding: 4px;
}

#middle {
    width: 100vw;
    height: calc(100vh - 25px);
}

#content {
    width: 100%;
    height: 100%;
    background-color: #111;
}

#id {
    padding-left: 8px;
    padding-right: 12px;
    font-weight: bold;
    color: rgb(255, 153, 196);
}

#subscription {
    font-family: "Comic Sans MS", "Comic Sans", serif;
    color: rgb(240, 88, 139);
}